$colors: (
  red: #ff4136,
  blue: #0074d9,
  yellow: #ffdc00,
  orange: #ff851b,
);

$light: (
  "primary": #ff0000,
  "secondary": #00ff00,
  "accent": #0000ff,
);

$light: (
  "primary": #ff0000,
  "secondary": #00ff00,
  "accent": #0000ff,
);

$brand-colors: (
  #57585b,
  // grey
  #d1662a,
  // orange
  #632f54,
  // purple
  #5e6e63,
  // green
  #d2a732,
  // yellow
  #006e94,
  // blue
  #790025 // red
);
