<nav class="navbar navbar-expand-md navbar-custom navbar-dark fixed-top">
    <div class="container">
        <div class="page-scroll">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarExamples9" aria-controls="navbarExamples9" aria-expanded="false"
                aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="index.html" class="navbar-brand">Softera</a>
        </div>
        <div class="collapse navbar collapse justify-content-end" id="navbarExamples9">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top" class="nav-link"></a>
                </li>

                <li class="scroll">
                    <a href="#why" class="nav-link">why</a>
                </li>

                <li class="scroll">
                    <a href="#who" class="nav-link">who</a>
                </li>

                <li class="scroll">
                    <a href="#client" class="nav-link">client</a>
                </li>

                <li class="scroll">
                    <a href="#contact" class="nav-link">contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>
