@import "components/vazir.module";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: green;
  display: flex;
}


@for $i from 1 to 4 {
  .item-#{$i} {
    content: '';
    width: 200px;
    height: 200px;
    background-color: rgb($i * 75, $i - 1 * 75, 75 / $i);
  }
}